    body {
        background: url(../images/gplaypattern.png);
        background-repeat: repeat;
    }
    
    .game-box {
        background-color: #fafafa;
        border-radius: 6px;
        border: #0080FF 3px solid;
        width: 960px;
        height: 600px;
        text-align: center;
        margin: auto;
        margin-top: 40px;
    }
    
    .trivia-title {
        color: #0080FF;
        font-weight: bold;
        font-size: 50px;
        line-height: 20px;
        padding: 30px;
    }
    
    h5 {
        font-size: 21px;
    }
    
    .question-title {
        padding-left: 10px;
        padding-right: 10px;
    }
    
    input[type=radio] {
        margin: 10px;
    }
    
    button {
        margin: 10px;
    }
    
    #numtimer {
        font-size: 90px;
    }
    
    #done-button {
        width: 170px;
    }
    
    .results {
        font-size: 30px;
        padding: 10px;
        color: #E89F61
;
    }
