    /*Background Gradient*/
    
    .body-page {
        background: #00c6ff;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to left, #00c6ff, #0072ff);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to left, #00c6ff, #0072ff);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
    
    .game-box {
        border-radius: 6px;
        background: url(../images/gplaypattern.png);
        background-position: left top;
        background-repeat: repeat;
        padding: 20px;
        width: 960px;
        height: 600px;
        text-align: center;
        margin: auto;
        margin-top: 40px;
    }
    
    .trivia-title {
        color: #FF6138;
        font-weight: bold;
        font-size: 50px;
        line-height: 20px;
        padding-bottom: 30px;
    }
    
    h5 {
        font-size: 25px;
        background: -webkit-linear-gradient(#38B1FF


, #0F00E6);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    
    .question-title {
        padding-left: 10px;
        padding-right: 10px;
    }
